$theme-white: #fff;

$theme-blue50: #ebf3ff;
$theme-blue100: #cce1ff;
$theme-blue400: #519cff;
$theme-blue600: #2c72db;

$theme-primary: #519cff;

$theme-grey50: #f8fafb;
$theme-grey100: #f1f3f5;
$theme-grey200: #e9ecef;
$theme-grey300: #dee2e6;
$theme-grey500: #868e96;
$theme-grey600: #656d75;
$theme-grey900: #212529;

$theme-border-color: rgba(0, 0, 0, .1);